.fdad0d43-16ab-48f3-9e4a-f2eeadadb0b1 {
    padding: 20px;
    background-color: green
    }
.fe8536f9-4878-41b9-add1-dd61b26d916e {
    padding: 20px;
    background-color: orange
    }
.df5f6181-8e83-438a-ba2f-bf31a3dc3e33 {
    padding: 20px;
    background-color: yellow
    }
.fdad0d43-16ab-48f3-9e4a-f2eeadadb0b1 .fe8536f9-4878-41b9-add1-dd61b26d916e {
    padding: 20px;
    background-color: black
    }
#e3ec5226-dcc3-46ef-b140-1507479476c4 {
    padding: 20px;
    background-color: lightcoral
    }
@media (max-width: 600px) {
    .df5f6181-8e83-438a-ba2f-bf31a3dc3e33 {
        padding: 40px
        }
    }
#ef61f631-9164-40f9-9d79-2d23500406d4 {
    padding: 20px;
    background-color: red
    }
.ac9c5c03-31c5-4467-be73-4ba2bf0fdff9 {
    padding: 20px;
    background-color: blue
    }