.e60c6a0c-5ff6-4ed4-b66a-bae1fa5e4872 {
    padding: 20px;
    background-color: green
    }
.b512139e-0ab1-4fe3-b7ff-e312e7937c11 {
    padding: 20px;
    background-color: orange
    }
.dc26704c-1f2f-4c38-8558-5abfb48c9ddb {
    padding: 20px;
    background-color: yellow
    }
.e60c6a0c-5ff6-4ed4-b66a-bae1fa5e4872 .b512139e-0ab1-4fe3-b7ff-e312e7937c11 {
    padding: 20px;
    background-color: black
    }
#cc08e533-fef4-4f75-b6c8-793f09698201 {
    padding: 20px;
    background-color: lightcoral
    }
@media (max-width: 600px) {
    .dc26704c-1f2f-4c38-8558-5abfb48c9ddb {
        padding: 40px
        }
    }
#db65fab0-ff0c-4dbc-b421-59ef19dc9f0b {
    padding: 20px;
    background-color: red
    }
.cd4a0e44-5bdb-48f0-b075-ec12fdfe0d19 {
    padding: 20px;
    background-color: blue
    }