.eaa0f0fe-1316-4dc8-bd4a-ba0a585dda2e {
    padding: 20px;
    background-color: green
    }
.d14f6cdb-51fc-4fe9-9fe6-069342ff00d3 {
    padding: 20px;
    background-color: orange
    }
.a97b8710-2142-4917-9ded-67541ba63a72 {
    padding: 20px;
    background-color: yellow
    }
.eaa0f0fe-1316-4dc8-bd4a-ba0a585dda2e .d14f6cdb-51fc-4fe9-9fe6-069342ff00d3 {
    padding: 20px;
    background-color: black
    }
#bb4d1d2b-595f-49f8-95e6-f96cb2f2055c {
    padding: 20px;
    background-color: lightcoral
    }
@media (max-width: 600px) {
    .a97b8710-2142-4917-9ded-67541ba63a72 {
        padding: 40px
        }
    }
#d67f1c8c-73ed-40e0-a7d3-c43cf030332d {
    padding: 20px;
    background-color: red
    }
.abc3552d-7797-4889-be43-5438f9a52156 {
    padding: 20px;
    background-color: blue
    }