.a37d5546-9e5e-4449-a954-0b81b4bcfdd5 {
    padding: 20px;
    background-color: green
    }
.a71ca9a7-b124-42c6-b813-730ddf2b2059 {
    padding: 20px;
    background-color: orange
    }
.d3a19ccf-9dcf-47b4-aafd-df87c8536306 {
    padding: 20px;
    background-color: yellow
    }
.a37d5546-9e5e-4449-a954-0b81b4bcfdd5 .a71ca9a7-b124-42c6-b813-730ddf2b2059 {
    padding: 20px;
    background-color: black
    }
#db4cd151-30f6-4f91-a4e6-658056387ac0 {
    padding: 20px;
    background-color: lightcoral
    }
@media (max-width: 600px) {
    .d3a19ccf-9dcf-47b4-aafd-df87c8536306 {
        padding: 40px
        }
    }
#d64d896f-8978-42ff-8028-251d0f394911 {
    padding: 20px;
    background-color: red
    }
.ada3bdd9-fa20-4fb3-8e4c-4a6607245703 {
    padding: 20px;
    background-color: blue
    }