.aee207d5-8ba6-4b7e-86d3-3e8d4494bc4c {
    padding: 20px;
    background-color: green
    }
.a7a75cde-ed7a-4c36-9189-911b08aa6bee {
    padding: 20px;
    background-color: orange
    }
.d3644918-32c2-408c-aed2-e1720d19ad08 {
    padding: 20px;
    background-color: yellow
    }
.aee207d5-8ba6-4b7e-86d3-3e8d4494bc4c .a7a75cde-ed7a-4c36-9189-911b08aa6bee {
    padding: 20px;
    background-color: black
    }
#a5cb8fdd-b6b4-4136-b333-1d655b58a4c2 {
    padding: 20px;
    background-color: lightcoral
    }
@media (max-width: 600px) {
    .d3644918-32c2-408c-aed2-e1720d19ad08 {
        padding: 40px
        }
    }
#a43b9ada-66eb-42e1-a5e7-519998f66c26 {
    padding: 20px;
    background-color: red
    }
.fdadd532-ed41-49ac-9327-d37c6d0f8bfd {
    padding: 20px;
    background-color: blue
    }